*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

#box{
    height: 400px;
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.card{
    height: 200px;
    width: 200px;
}
img{
    
}